/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

main {
    padding: 20px;
}

.about,
.skills,
.contact {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about h2,
.skills h2,
.contact h2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    /* Centering the heading */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.lekh {
    font-size: larger;
}

.profile-photo {
    width: 256px;
    /* Adjust the size as needed */
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    margin: 0 14px 0 0;
}

.profile-photo1 {
    width: 256px;
    /* Adjust the size as needed */
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}


.khutta {
    padding: 20px;
}

* {
    text-decoration: none;
}

.navbar {
    background: rgb(33, 152, 185);
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button {
    background-color: black;
    margin-left: 10pxl;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}