/* body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    width: 300px;
    background-color: #f9f9f9;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

/* .certificate-container {
    width: 11.5cm;
    height: 8.3cm;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    position: relative;
} */
.certificate-container{
    width: 800px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header .logo img {
    width: 25px;
    height: auto;
}

.header-text {
    text-align: center;
    flex-grow: 1;
    margin-left: -50px; /* Adjust for logo overlap */
    color: #ff0000;
}

.header h1, .header h2, .header h3, .header h4 {
    margin: 0;
}

.header h1 {
    font-size: 12px;
}

.header h2 {
    font-size: 10px;
}

.header h3 {
    font-size: 9px;
}

.header h4 {
    font-size: 8px;
}

.content {
    position: relative;
}

.photo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.photo img {
    width: 50px;
    height: auto;
    border: 1px solid #000;
}

table {
    width: calc(100% - 20px);
    border-collapse: collapse;
    margin-top: 20px;
}

table td {
    padding: 3px;
    vertical-align: top;
    font-size: 8px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.ward-number {
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.signature {
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #000;
    width: 40px;
    font-size: 8px;
}

.stamp {
    text-align: right;
}

.stamp img {
    width: 20px;
    height: auto;
}
.container {
    width: 800px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
}
.info .photo {
    text-align: center;
}
.info .photo img {
    width: 35mm;
    height: 45mm;
    border-radius: 0%;
    border: 1px solid #000;
    padding: 5px;
    background-color: #f0f0f0;
}